*, ::after, ::before 
{
    box-sizing: border-box;
}

html
{
    overflow-y: auto;
}

body 
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    
    padding: 2px;
    margin: 0;
    height: 100vh;
    overflow: hidden;

    color: #ddd;
    background-color: #222;
}

a {
    color: #eee;
}

#help-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#help {
    padding: 6px 12px;
    border: solid 1px #eee;
    width: fit-content;
}

#help div {
    padding-left: 8px;
}

#help .heading {
    font-size: 125%;
    padding-bottom: 4px;
    padding-left: 0;
}

#help .subtext {
    font-size: 80%;
    padding-top: 12px;
    padding-left: 0;
}

#demo {
    text-decoration: underline;
    cursor: pointer;
}

#container {
    display: grid;
    column-gap: 4px;
    grid-template-columns: 1fr 10em;
}

#progress-container {
    cursor: pointer;
}

#progress {
    background-color: #28f;
    height: 1.1em;
    margin-top: 2px;
    margin-bottom: 4px;
    width: 0;
}

#diagnostic {
    background-color: #555;
    aspect-ratio: 16 / 9;
    max-width: 100%;
    height: auto;
}

textarea {
    background-color: #eee;
    color: #222;
    padding: 4px;
    width: 100%;
    height: calc(100vh - 1.1em - 12px);
}

.permalink {
    height: 1.1em;
    margin-bottom: 6px;
    margin-left: 2px;
}