<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    {{- range .AlternativeOutputFormats }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{- end -}}
    
    <title>
        {{- if .IsHome -}}
            {{ .Site.Title }}
        {{- else -}}
            {{ .Title }} | {{ .Site.Title }} 
        {{- end -}}
    </title>

    {{- /* Bundled CSS */ -}}
    {{- $stylesheet := (resources.Match "css/*.css") | resources.Concat "assets/css/styles.css" | minify }}
    <link href="{{ $stylesheet.RelPermalink }}" rel="preload stylesheet" as="style">
</head>
