*, ::after, ::before 
{
    box-sizing: border-box;
}

html
{
    /* Hide scrollbar if content fits */
    overflow-y: auto;
}

body 
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    
    /* Remove default body spacing (allow header to be full width) */
    padding: 0;
    margin: 0;

    /* Set overall theme colors */
    color: var(--primary);
    background: var(--theme);
}

main, article, nav, section
{
    display: block;
}

a 
{
    /* Make links look like everything else... */
    color: var(--primary);
    text-decoration: none;
}

a:hover 
{
    /* ...except they're underlined on hover */
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6
{
    /* Make all headings non-bold */
    font-weight: 400;

    /* Set default heading spacing: Two lines above and a little underneath */
    margin-top: 2em;
    margin-bottom: 0.25em;
}

p
{
    margin-top: 0;
    margin-bottom: 1em;
}

img
{
    /* Set images to take available width only */
    display: block;
    max-width: 100%;
}

table {
    display: block;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
    word-break: keep-all;
}