{{- $pageurl := .Permalink }}
{{- $title := .Title }}

{{ $.Scratch.Set "tags" ""}}

{{- with .Params.Tags }}
{{ $hashtags := newScratch}}
{{ range . }}{{ $hashtags.Add "tags" (slice (replaceRE "(\\s)" "" . ))}}{{end}} 
{{ $.Scratch.Set "tags" (delimit ($hashtags.Get "tags") ",") }}
{{- end }}

<div class="share-buttons">
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on twitter" href="https://twitter.com/intent/tweet/?text={{ $title }}&amp;url={{ $pageurl }}&amp;hashtags={{- $.Scratch.Get " tags " -}}">
        <svg><use xlink:href="{{ partial "useSvg.html" . }}#share-twitter"></use></svg>
    </a>
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ $pageurl }}&amp;title={{ $title }}&amp;summary={{ $title }}&amp;source={{ $pageurl }}">
        <svg><use xlink:href="{{ partial "useSvg.html" . }}#share-linkedin"></use></svg>
    </a>
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on reddit" href="https://reddit.com/submit?url={{ $pageurl }}&title={{ $title }}">
        <svg><use xlink:href="{{ partial "useSvg.html" . }}#share-reddit"></use></svg>
    </a>
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on facebook" href="https://facebook.com/sharer/sharer.php?u={{ $pageurl }}">
        <svg><use xlink:href="{{ partial "useSvg.html" . }}#share-facebook"></use></svg>
    </a>
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on whatsapp" href="https://api.whatsapp.com/send?text={{ $title }}%20-%20{{ $pageurl }}">
        <svg><use xlink:href="{{ partial "useSvg.html" . }}#share-whatsapp"></use></svg>
    </a>
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on telegram" href="https://telegram.me/share/url?text={{ $title }}&amp;url={{ $pageurl }}">
        <svg><use xlink:href="{{ partial "useSvg.html" . }}#share-telegram"></use></svg>
    </a>
</div>