*, ::after, ::before 
{
    box-sizing: border-box;
}

html
{
    overflow-y: scroll;
}

body 
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;

    padding: 0;
    margin: 0;
    overflow: scroll;

    color: #ddd;
    background-color: #222;
    min-height: 100vh;
}

#main-canvas {
    cursor: text;
}

#help {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#help-inner {
    border: solid 2px #bbb;
    width: 30em;
    padding: 10px;
    white-space: pre;
}